*{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

header{
	font: 28px Arial, sans-serif;
}

#kappa {
	width:64px;
	height:64px;
	vertical-align:middle;
}
.button_container {
	display: table;
}

.flex{
    display:flex
}

label{
    display: inline-block;
    width: 45%;
    text-align: right;
    font: 20px Arial, sans-serif;
    padding: 2px;
    margin: 2px;
}

@media(max-width:400px){
    .flex{
        display:block;
    }
    
    label{
	width:100%;
	text-align: center;
    }
}

input {
	display: inline-block;
	width: 200px;
	font: 20px Arial, sans-serif;
	padding: 2px;
	margin: 2px;
}
button {
	float: left;
	font: 20px Arial, sans-serif;
	padding: 2px;
	margin: 2px;
}

#formula_button {
	float: none;
	font-size: 16px;
	margin-bottom: 12px;
}

/* morg checkbox */
#morg_owned {
margin-bottom:20px;
margin-top:5px;
float:left;
width:20px;
height:20px
}

/* tooltips */
#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 300px;
  border: 1px solid black;
  background-color: #3C3C3C;
  color: white;
  font: 18px Arial, sans-serif;
  
  /* outline text in popups.  Don't like this for now */
  /*
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
 */
}

#main {
	overflow:auto;
	padding-bottom: 170px;
}  



.formulas{
	display:none;
	overflow:auto;
	margin-top:-150px;
	/*height:200px;*/
	padding-bottom: 170px;
}

.MathJax {
font-size: 1.5em;
}
	
#footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear:both;
	font:16px Arial,sans-serif;
} 
